<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About ChatCSEC</title>
    <link rel="stylesheet" href="../static/about.css">
    </head>

<body>
    <h1>About ChatCSEC</h1>
    <p>This project is a conversational interface that allows users to interact with an AI model. Developed as part of the ChatCSEC initiative, it aims to provide users with a friendly and accessible way to engage with AI technology.</p>
    <p>The project was authored by Domenic Lo Iacono, Kyri Lea, Brian McNulty, and Rich Kleinhenz.
        ChatCSEC is designed to expertly answer cybersecurity questions and assist with tasks. </p>
    <p><a href="/">Back to Chat</a></p>
</body>
</html>
